<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Dodaj zdjęcie</h4>
  </div>
  <div class="panel-body">
	<%= form_for(@picture) do |f| %>
	
	  <div class="form-group">
	  	<%= f.label :image, "Zdjęcie" %>
	    <%= f.file_field :image, class: "form-control"%>
	  </div>
	  <div class="form-group">
	  	<%= f.label :title, "Opis"%>
	    <%= f.text_field :title, autocomplete: "off", class: "form-control" %>
	  </div>
	  <%= f.submit "Prześlij", class: "btn btn-primary add" %>
	<% end %>
  </div>
</div>