<div class="col-lg-5 ">
	<div class="btn-group pull-right stats" role="group">
	  <a class="btn btn-default stat stat_pictures" href="<%= user_path (@user) %>">
	    <span class="bold"> <%= @user.pictures.count %> </span><br/>zdjęć
	  </a>
	  <a class="btn btn-default stat stat_followeds" href="<%= followeds_user_path(@user) %>">
	    <span class="bold"> <%= @user.followeds.count %> </span><br/>obserwowani
	  </a>
	  <a class="btn btn-default stat stat_followers" href="<%= followers_user_path(@user) %>">
	    <span class="bold"> <%= @user.followers.count %> </span><br/>obserwujący
	  </a>
	</div>
</div>